export INSTANCE_ID="0f16d840-9c14-4fad-a460-5733fbd1635e"
export NOVNC_PORT="45695"
export CONNECTION_STRING="http://localhost:45695/vnc.html?autoconnect=true&password=XLU2yJXu&resize=remote"
export DISPLAY=":0"
export XAUTHORITY="/tmp/0f16d840-9c14-4fad-a460-5733fbd1635e/.Xauthority"
